# Ignore DB
db.sqlite3

# Ignore Python env and secrets
.env
.venv/

# Ignore Django static output
static_cdn/

# Optional: Ignore compiled Python files
__pycache__/
*.py[cod]

# Optional: Ignore VSCode settings
.vscode/

# Optional: Ignore workspace files
*.code-workspace
