asgiref==3.7.2
bootstrap4==0.1.0
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
config-oc==1.0.4
Django==5.0.3
django-ckeditor==6.7.1
django-ckeditor-5==0.2.12
django-ckeditor5==0.0.4
django-cors-headers==4.3.1
django-js-asset==2.2.0
django-multiselectfield==0.1.12
django-rest-framework==0.1.0
django-taggit==5.0.1
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
email-smtp==1.0.0
idna==3.7
jobject==1.0.2
jsonb==1.0.0
pillow==10.2.0
PyJWT==2.8.0
pytz==2024.1
reportlab==4.2.0
requests==2.31.0
sqlparse==0.4.4
tools-oc==1.2.4
undefined-oc==1.0.0
urllib3==2.2.1
