aiohttp
aiohttp-retry
aiosignal
asgiref
attrs
bootstrap4
Brotli
certifi
cffi
channels
channels-redis
chardet
charset-normalizer
cssselect2
Django
django-ckeditor
django-ckeditor-5
django-ckeditor5
django-cors-headers
django-dirtyfields
django-js-asset
django-multiselectfield
django-rest-framework
django-taggit
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
#email-smtp
fonttools
frozenlist
html5lib
idna
jobject
jsonb
msgpack
multidict
pillow
pycairo
pycparser
pydyf
PyGObject
PyJWT
pyphen
pytz
redis
reportlab
requests
six
sqlparse
tinycss2
tools-oc
twilio
undefined-oc
urllib3
weasyprint
webencodings
yarl
zopfli
